extends ../layout

block content
  .span12
    .widget-box
      .widget-title
        span.icon
          i.icon-th
        h5 Static table
      .widget-content.nopadding
        table.table.table-bordered.table-striped
          thead
            tr
              th Rendering engine
              th Browser
              th Platform(s)
              th Engine version
              th CSS grade
          tbody
            tr.odd.gradeX
              td Trident
           